<!DOCTYPE html>
<html>
  <head>
    <title>Reset your password</title>
  </head>
  <body>
    <h1>Reset your password</h1>
    <p>Hi {{ name }},</p>
    <p>We received a request to reset your password. If you did not make this request, simply ignore this email. Otherwise, you can reset your password using the link below:</p>
    <p><a href="{{ resetUrl }}">Reset your password</a></p>
    <p>Best,</p>
    <p>JatengDev team</p>
  </body>
</html>