<!DOCTYPE html>
<html>
  <head>
    <title>Verification Code</title>
  </head>
  <body>
    <p>Hi {{ name }},</p>
    <p>
        To complete your verification, please use the following code:
    </p>
    <h2>{{ otp }}</h2>
    <p>
        This code will expire in 10 minutes and can only be used once. If you did not make this request, simply ignore this email.
    </p>
    <p>
        This message was sent automatically by JatengDev. Please do not reply to this email.
    </p>
    <p>Best,</p>
    <p>JatengDev team</p>
  </body>
</html>