<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to our app</title>
  </head>
  <body>
    <h1>Welcome to our app</h1>
    <p>Hi {{ name }},</p>
    <p>Thank you for joining our app. We are excited to have you on board.</p>
    <p>To complete your registration, please click on the link below:</p>
    <a href="{{ url }}">Complete your registration</a>
    <p>Best,</p>
    <p>JatengDev team</p>
  </body>
</html>
